body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    height: 100vh;
}

.logo{
    width: 1200px;
    position: relative;
    margin: 20px auto;
}

header,img{
    display: inline;
    border-radius: 60px;
    width: 15%;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
}

.titulo{
    position: absolute;
    top: 52px;
    right: 450px;
    color: white;
    font-size: 40px;
}

main{
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0 90px 0;
}

.titulo-a-en{
    position: absolute;
    color: white;
    top: 231px;
    font-size: 28px;
}

.texto-encry{
    display: inline;
    border-radius: 15px;
    border: aliceblue;
    margin: 0 410px 0 0;
    background: none;
    color: white;
}

.resultado{
    display: inline;
    border-radius: 15px;
    border: aliceblue;
    background: none;
    color: white;
}

.encriptar{
    display:inline;
    border-color: white;
    margin: 15px 55px 0 0;
    background: #2b1056;
    color:#ffffff;
    font-size: 2em;
    line-height:2em;
    border-radius: 15px;
}

.desencriptar{
    display:inline;
    border-color: white;
    margin: 2px;
    background:#2b1056;
    color:#ffffff;
    font-size: 2em;
    line-height:2em;
    border-radius: 15px;
}

.copiar{
    display:inline;
    border-color: white;
    margin: 0 0 0 533px;
    background:#2b1056;
    color:#ffffff;
    font-size: 2em;
    line-height:2em;
    border-radius: 15px
}

footer{
    padding: 63px;
    width: 500px;
    position: relative;
    margin: 0 auto;
}

.logo-marca{
    width: 10%;
    height: auto;
}

.by{
    position: absolute;
    top: 93px;
    right: 237px;
    color: white;
}